version: '3.8'
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: hotel_booking_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@test.com"
      PGADMIN_DEFAULT_PASSWORD: "adminpassword"
    ports:
      - "5050:80"
    depends_on:
      - db # สั่งให้ pgAdmin เริ่มทำงาน "หลังจาก" db พร้อม

volumes:
  postgres_data: