@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply antialiased text-gray-900 bg-white;
  }
}